.dataconfigDetail {
    flex-direction: column;
    .back {
        svg {
            height: 24px;
            width: 24px;

        }
        margin-bottom: 3px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-right: -20px;

        .card {
            flex-grow: 1;
            margin-right: 20px;
        }
        .active .ant-statistic-content-value-int{
            color: red;

        }

    }

    .dataAnalysis{
        height: calc(100vh - 300px);
        margin-top: 20px;
        display: flex;
        
        .table{
            width: 40%;
        }
        .rightChart{
            flex-grow: 1;
            height: 100%;
            flex-wrap: wrap;
            margin-left: 20px;
            position: relative;
            #commentpie{
                width: 70%;
                height: 70%;
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
            }
            #orderpie{
                width: 50%;
                height: 50%;
                position: absolute;
            }
            #orderpie1{
                top:0;
                left:50%;
                width: 50%;
                height: 50%;
                position: absolute;
            }
            #actionpie{
                width: 70%;
                height: 70%;
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
            }
        }
    }


}