.reviewContent{
    display: flex;
    height: 100%;
    .fraud{
        width: 50%;
        height: 100%;
    }
    .analyze{
        height: 100%;
        width: 50%;
        // background-color: pink;
        margin-left: 30px;
        .result{
            margin-top: 20px;
            font-size: 25px;
            color: red;
            font-weight: bolder;
        }
        .submit{
            margin-left: 30px;
        }

    }


}