@import './styles/color.scss';
@import './styles/size.scss';

#root {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}
a {
    text-decoration: none;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        flex-direction: row;
        .title{
            font-size: 20px;
        }
    }

    .content {
        padding: 10px;
        margin: 10px;
        background-color: $page-back;
        // background-color: pink;
        border-radius: 10px;
        // height: 90vh;
        flex-grow: 1;
        flex-shrink: 1;
    }

}